/* Tooltip container */

/* Tooltip text */
td .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(236, 13, 61);
  color: rgb(157, 241, 237);
  text-align: center;
  padding: 5px 0;
  border-radius: 5.5px;
  bottom: 100%;
  left: 5%;
  margin-left: -10px;
  top: -2.7rem;
  /* Position the tooltip text - see examples below! */
  position: relative;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
td:hover .tooltiptext {
  visibility: visible;
}
